Repository Carrera-Dev-Consulting/zombie-nomnom-api, pull requests merged in 2024-12, with the labels that each got.

#48 feat(Persistence): Add persistence options for game data
  .github/workflows/deploy-docs.yaml
  .github/workflows/test-coverage.yml
  README.md
  database/mongo-init.js
  docker-compose.yaml
  makefile
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  tests/__init__.py
  tests/integration/zombie_nomnom_api/graphql/conftest.py
  tests/integration/zombie_nomnom_api/graphql/test_mutation.py
  tests/integration/zombie_nomnom_api/graphql/test_query.py
  tests/integration/zombie_nomnom_api/test_mongo_game_maker.py
  tests/integration/zombie_nomnom_api/test_server.py
  tests/unit/zombie_nomnom_api/graphql_app/test_dependencies.py
  tests/unit/zombie_nomnom_api/graphql_app/test_resolvers.py
  tests/unit/zombie_nomnom_api/test_app.py
  tests/unit/zombie_nomnom_api/test_game.py
  tests/utils.py
  zombie_nomnom_api/__init__.py
  zombie_nomnom_api/app.py
  zombie_nomnom_api/game.py
  zombie_nomnom_api/graphql_app/dependencies.py
  zombie_nomnom_api/graphql_app/resolvers.py
Labels: docs, devops, core, dependency-updated, tests, unit-tests-updated, integration-tests-updated

#51 feat(Authentication): Added the ability to authenticate with jwts on rest
  .vscode/launch.json
  .vscode/settings.json
  pyproject.toml
  tests/__init__.py
  tests/integration/zombie_nomnom_api/test_server.py
  tests/unit/zombie_nomnom_api/graphql_app/test_resolvers.py
  tests/unit/zombie_nomnom_api/rest_app/__init__.py
  tests/unit/zombie_nomnom_api/rest_app/test_verifier.py
  tests/unit/zombie_nomnom_api/test_server.py
  zombie_nomnom_api/__init__.py
  zombie_nomnom_api/app.py
  zombie_nomnom_api/graphql_app/resolvers.py
  zombie_nomnom_api/rest_app/__init__.py
  zombie_nomnom_api/rest_app/authentication.py
  zombie_nomnom_api/server.py
Labels: core, dependency-updated, tests, unit-tests-updated, integration-tests-updated

#52 chore(build): Add defaults to oauth fields
  .github/workflows/test-coverage.yml
  tests/__init__.py
  zombie_nomnom_api/__init__.py
Labels: devops, core, tests
