Repository Carrera-Dev-Consulting/zombie-nomnom-api, pull requests merged in 2024-11, with the labels that each got.

#11 feat(graphql): Use Graphql for endpoints
  pyproject.toml
  tests/unit/zombie_nomnom_api/graphql_app/__init__.py
  tests/unit/zombie_nomnom_api/graphql_app/test_resolvers.py
  tests/unit/zombie_nomnom_api/graphql_app/test_schema.py
  zombie_nomnom_api/__init__.py
  zombie_nomnom_api/app.py
  zombie_nomnom_api/graphql_app/__init__.py
  zombie_nomnom_api/graphql_app/app.py
  zombie_nomnom_api/graphql_app/resolvers.py
  zombie_nomnom_api/graphql_app/schema.gql
  zombie_nomnom_api/graphql_app/schema.py
  zombie_nomnom_api/server.py
Labels: core, dependency-updated, tests, unit-tests-updated

#12 feat(game): Adding new routes in graphql to support starting and reading game data.
  tests/integration/zombie_nomnom_api/graphql/__init__.py
  tests/integration/zombie_nomnom_api/graphql/conftest.py
  tests/integration/zombie_nomnom_api/graphql/test_mutation.py
  tests/integration/zombie_nomnom_api/graphql/test_query.py
  tests/integration/zombie_nomnom_api/graphql/util.py
  tests/unit/zombie_nomnom_api/graphql_app/test_resolvers.py
  zombie_nomnom_api/game.py
  zombie_nomnom_api/graphql_app/dependencies.py
  zombie_nomnom_api/graphql_app/resolvers.py
  zombie_nomnom_api/graphql_app/schema.gql
  zombie_nomnom_api/graphql_app/schema.py
Labels: core, tests, unit-tests-updated, integration-tests-updated

#17 fix(docs): Fixing pdoc issues that were introduced to main.
  tests/unit/zombie_nomnom_api/graphql_app/test_schema.py
  zombie_nomnom_api/graphql_app/resolvers.py
  zombie_nomnom_api/graphql_app/schema.py
Labels: core, tests, unit-tests-updated

#19 style: Understanding the repo
  tests/integration/zombie_nomnom_api/test_server.py
  zombie_nomnom_api/graphql_app/schema.py
Labels: core, tests, integration-tests-updated

#21 feat(infra): Adding docker specific files and making it runnable in containers.
  .dockerignore
  Dockerfile
  docker-compose.yaml
  zombie_nomnom_api/__init__.py
  zombie_nomnom_api/app.py
Labels: core

#22 feat(graphql): Added the ability to end a round and draw dice
  tests/integration/zombie_nomnom_api/graphql/test_mutation.py
  tests/unit/zombie_nomnom_api/graphql_app/test_resolvers.py
  tests/utils.py
  zombie_nomnom_api/graphql_app/dependencies.py
  zombie_nomnom_api/graphql_app/resolvers.py
  zombie_nomnom_api/graphql_app/schema.gql
Labels: core, tests, unit-tests-updated, integration-tests-updated

#24 build(docker): Add Docker Build workflow for release publishers.
  .github/workflows/python-publish.yml
  Dockerfile
  makefile
Labels: devops

#25 build(docker): Fixing version resolution for build.
  .github/workflows/python-publish.yml
Labels: devops

#26 build(pypi): Setting version manually so it does not need to worry about git tags.
  .github/workflows/python-publish.yml
Labels: devops

#29 build(k8s): Adding yaml files and new commands to build app with ytt
  .gitignore
  deployment/deployment.yaml
  deployment/envs/dev/values.yaml
  deployment/envs/prod/values.yaml
  deployment/ingress.yaml
  deployment/namespace.yaml
  deployment/service.yaml
  makefile
Labels: rules-updated

#33 build(k8s): Adding new workflow to open pr on our flux repo when we want to deploy new versions of the code.
  .github/workflows/propose-image.yml
Labels: devops

#36 docs(Readme): Readme now has graphql queries and outputs
  README.md
  makefile
  zombie_nomnom_api/graphql_app/schema.gql
Labels: docs, core

#44 build(main): Separate the docs and testing into unique jobs.
  .github/workflows/deploy-docs.yaml
  makefile
Labels: devops

#45 feat(Configuration): 18 feat add ability to setup cors reponse and default to
  README.md
  pyproject.toml
  tests/integration/zombie_nomnom_api/test_server.py
  zombie_nomnom_api/__init__.py
  zombie_nomnom_api/server.py
Labels: docs, core, dependency-updated, tests, integration-tests-updated

#46 docs(pypi): Update Description to remove reference to react frontend.
  pyproject.toml
Labels: dependency-updated

#47 feat(api): Add version endpoint
  tests/integration/zombie_nomnom_api/test_server.py
  zombie_nomnom_api/server.py
Labels: core, tests, integration-tests-updated
